
body{
    margin: 0;
}

/*
First we had a four elements
*/

div{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: coral;
    float: left;
    width: calc((100% - 60px)/5);
    margin-left: 10px;   /* For spacing befor and after elements*/
}

/*
                    CALCULATIONS
Content Width Is : 100%
5 Spaces => 1% * 5 = 5% From Content Width
Remaining Space Is 95%
4 Elements The Width Is: 95%/4 => 23.75%

When We Add Another Elements The Calculation Will Be:
6 Spaces => 1% * 6 = 6% From Content Width
Remaining Space Is 94%
5 Elements The Width Is: 94%/5 => 18.8%

IF We Use 15px As Width
6 Spaces => 15px * 6 = 90px From Content Width
Remaining Space Is = 100% - 90px
5 Elements The Width Is: (100% - 90px)/5 => 18.8%
*/

